@font-face {
	font-family: 'Gilroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('./font/Gilroy-Medium.woff2');
}

@font-face {
	font-family: 'Gilroy-Semibold';
	src: url('./font/Gilroy-Semibold.woff2');
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('./font/Gilroy-Regular.woff2');
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.body {
	scroll-behavior: smooth;
	background: #fff;
}

.header {
	width: 1170px;
	margin: 40px auto 0px;
}

.header_nav {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}

.main_menu {
	width: 533px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu_item {
	height: 17px;
	border: 0;
	background: none;
	color: #000;
	font-family: Gilroy-Medium;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.home_menu_item {
	color: #f25822;
}

.main_container {
	width: 1170px;
	margin: 84px auto 0px;
	display: flex;
	align-items: flex-start;
	gap: 41px;
}

.main_content {
	width: 522px;
}

.header1 {
	margin-bottom: 17px;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.text_content {
	width: 466px;
	margin-bottom: 37px;
	color: #888;
	font-family: Gilroy-Medium;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.buttons {
	margin-bottom: 162px;
}

.button {
	height: 50px;
	border: none;
	padding: 15px 35px;
	font-family: Gilroy-Bold;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.start_now_button {
	color: #fff;
	border-radius: 50px;
	background: #f25822;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
}

.watch_video_button {
	color: #aaa;
	background: none;
}

.logos {
	width: 1170px;
	margin: 97px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features {
	width: 1170px;
	margin: 100px auto;
	display: flex;
	justify-content: space-between;
}

.feature_item {
	width: 370px;
	padding: 40px 30px 25px 30px;
}

.center_feature_item {
	background: #fff;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.feature_heading {
	margin-top: 25px;
	margin-bottom: 17px;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.feature_text {
	color: #666;
	font-family: Gilroy-Regular;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.feature_button {
	height: 17px;
	margin-top: 25px;
	border: none;
	background: none;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.services_container {
	background: #fafafa;
}

.services {
	width: 1170px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services_header {
	width: 579px;
	margin-top: 92px;
	margin-bottom: 19px;
	text-align: center;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.services_text {
	width: 682px;
	color: #666;
	text-align: center;
	font-family: Gilroy-Regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 24px */
}

.services_items {
	margin-top: 54px;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.services_item {
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services_center_item {
	box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.services_item_header {
	margin: 25px auto 22px;
	color: #000;
	font-family: Gilroy-Bold;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.services_item_text {
	margin: 0px auto 39px;
	color: #aaa;
	text-align: center;
	font-family: Gilroy-Regular;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	/* 22.5px */
}

.services_item_button {
	margin: 0px auto 50px;
	background-color: #f25822;
	border: none;
	border-radius: 25px;
}

.services_item_button_text {
	margin: 15px 36px 15px 46px;
	color: #fff;
	text-align: center;
	font-family: Gilroy-Bold;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}
